<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section id="contents">

                <div id="content01" class="contents">

                    <div id="content01_bg" class="background_"></div>

                    <div class="wrap_">

                        <div class="text-box">

                            <p class="catch">About " Tabimeshi "</p>

                            <p class="copy">

                            <%= t 'homes.top.message_1' %><br><br>
                            <%= t 'homes.top.message_1_2' %>
                            </p>

                        </div>

                    </div>

                </div><!-- content01 -->

                <div id="content02" class="contents">

                    <div id="content02_bg" class="background_"></div>

                    <div class="wrap_">

                        <div class="text-box">

                            <p class="catch">What you can do with<br> " Tabimeshi "</p>

                            <p class="copy">
                                <%= t 'homes.top.message_2' %><br>
                            </p>

                        </div>

                    </div>

                </div><!-- content02 -->

                <div id="content03" class="contents">

                    <div id="content03_bg" class="background_"></div>

                    <div class="wrap_">

                        <div class="text-box">

                            <p class="catch">How to use " Tabimeshi "</p>

                            <p class="copy">
                                <table class="how_body">
                                    <tr>
                                        <th class="how-content">
                                        <a class="btn-circle-flat-how" data-toggle="modal" data-target=".bd-example-modal-lg" style="color: #fff;"><%= t 'homes.top.destination' %></a>
                                        </th>

                                        <td><%= t 'homes.top.destination_explanation' %></td>
                                    </tr>
                                    <tr>
                                        <th class="how-content">
                                            <a class="btn-circle-flat-how" data-toggle="modal" data-target=".bd-example-modal-lg" style="color: #fff;"><%= t 'homes.top.post' %></a>
                                        </th>
                                        <td><%= t 'homes.top.post_explanation'%></td>
                                    </tr>
                                    <tr>
                                        <th class="how-content">
                                        <a class="btn-circle-flat-how" data-toggle="modal" data-target=".bd-example-modal-lg" style="color: #fff;"><%= t 'homes.top.find_people' %></a>
                                        </th>
                                        <td><%= t 'homes.top.find_people_explanation' %></td>
                                    </tr>
                                </table>
                            </p>

                        </div>

                    </div>

                </div><!-- content03 -->

                <div id="content04" class="contents">

                    <div id="content04_bg" class="background_"></div>

                    <div class="wrap_">

                        <div class="text-box">

                            <p class="catch">Find delicacies and Create memories !</p>

                            <p class="copy"><br>
                                <h5 class="discover_sth"><%= t 'homes.top.discover_sth' %></h5>
                                <div class="links_to_enter" style="margin: 50px; text-align: right;">
                                    <ul>
                                        <li>
                                            <%= link_to t('homes.top.sign_up'), new_user_registration_path, :style=>"color:#fff;", class: "link_line" %>
                                        </li>
                                        <li>
                                            <%= link_to t('homes.top.log_in'), new_user_session_path, :style=>"color:#fff;", class: "link_line" %>
                                        </li>
                                        <li>
                                            <%= link_to t('homes.top.guest_user'), users_homes_guest_sign_in_path,method: :post, :style=>"color:#fff;", class: "link_line"  %>
                                        </li>
                                        <li>
                                            <%= link_to t('homes.top.Facebook'), user_facebook_omniauth_authorize_path,method: :post, :style=>"color:#fff;", class: "link_line"  %>
                                        </li>
                                    </ul>
                                </div>
                            </p>

                        </div>

                    </div>

                </div><!-- content04 -->

            </section>
        </div>
    </div>
</div>
