<div class="container" style="height: auto;">
	<div class="row">
		<div class="col-xs-12" style="margin-top: 110px;">
			<h2 style="margin-bottom: 30px;">投稿一覧</h2>
			<% @reviews.each do |review| %>
			 <div class="review-box">
			 	<div>
					<%=  l review.created_at, format: :long %>
					<%= image_tag review.user.profile_image.url, format: 'jpg', fallback: "no_image.jpg"  ,class: 'profile_img' %>
					<strong>
						<%= link_to admins_user_path(review.user.id),:style=>"color:#444;" do %>   <%= review.user.user_name %><% end %>
					</strong>
					<span class="fas fa-heart" aria-hidden="true"></span>
					<%= review.likes.count %>
					<i class="far fa-comment"></i><%= review.review_comments.count %>
				</div>

					<th><i class="fas fa-utensils">
						<h4><%= link_to admins_review_path(review.id),:style=>"color:#444;" do %><%= review.restaurant_name %><% end %></h4>
						</i>
						<%= review.country %>・<%= review.city %>
					</th>
					<div id="star-rate"><%= review.rate %></div>
				<div><%= review.review %></div>
			</div>
			<% end %>
			<div class="pagenate"><%= paginate @reviews %></div>
		</div>
	</div>
</div>