<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 edit_form">
				<h2 style="margin-top:100px;"><%= t 'users.edit.edit_profile' %></h2>

				<%= form_with model: @user,url:user_path(current_user.id), method: :patch, local: true do |f| %>
				<%= render 'layouts/error', model: f.object %>

					<table class="table">
						<tr>
							<%= f.file_field :profile_image ,id: :profile_image, placeholder: "select" %>
							<% if @user.profile_image.present? %>
							  <%= image_tag @user.profile_image.url,class: 'profile_img-edit mb-2', id: :img_prev %>
							<% else %>
							  <%= image_tag "no_image.jpg",class: 'profile_img-edit mb-2', id: :img_prev %>
							<% end %>
						</tr>
						<script type="text/javascript">
						  $(function() {
						    function readURL(input) {
						        if (input.files && input.files[0]) {
							        var reader = new FileReader();
							        reader.onload = function (e) {
							    		$('#img_prev').attr('src', e.target.result);
							        }
							        reader.readAsDataURL(input.files[0]);
						        }
						    }
						    $("#profile_image").change(function(){
						        readURL(this);
						    });
						  });
						</script>
						<tr>
							<th><%= t 'users.edit.user_name' %></th>
							<td><%= f.text_field :user_name ,:size=>"21", placeholder: "ユーザーネーム", class: "name_area" %></td>
						</tr>
						<tr>
							<th><%= t 'users.edit.introduction' %></th>
							<td><%= f.text_area :introduction ,:size=>"40", placeholder: "紹介文(50字まで)", class: "introduction_area" %></td>
						</tr>
						<tr>
							<th><%= t 'users.edit.private_infomation' %></th>
						</tr>
						<tr>
							<th><%= t 'reviews.edit.email' %></th>
							<td><%= f.text_field :email,:size=>"21", class: "email_area" %></td>
						</tr>
						<tr>
							<th></th>
							<th></th>
						<td><%= f.submit t('users.edit.update'), class: "btn btn-outline-secondary" %></td>
						<td><%= link_to users_unsubscribe_path(current_user.id), class: "btn btn-outline-dark update_btn to_delete" do %><%= t 'users.edit.delete_an_account' %><% end %></td>

						</tr>
					</table>

				<% end %>

			</div>
		</div>


	</div>
</div>