<div class="page">
	<div class="container main">
		<div class="row">
				<% @users.each do |user| %>
					<div class="info-box_index col-xs-3">
						<%= image_tag user.profile_image.url, fallback: "no_image.jpg" ,class: 'profile_img_index' %>
						<div class="name-info col-xs-9">
							<strong>
								<h3>
									<%= link_to user_path(user.id), :style=>"color:#444;" do %>
										<%= user.user_name %>
									<% end %>
								</h3><br>
								<%= user.introduction %>
								<div>
									<table style="text-align: center; width:400px;">
										<tr>
											<th><%= user.followers.count %></th>
											<th><%= user.followings.count %></th>
										</tr>
										<tr>
											<td>followers</td>
											<td>followings</td>
										</tr>
									</table>
									<div style="margin-top: 10px;"><%= render 'users/relationships/follow_button', user: user %></div>
								</div>
							</strong>
						</div>
					</div>
				<% end %>
		</div>
	</div>
</div>