<div class="page">
	<div class="container">
		<div class="row">

			<div class="col-xs-12">

				<div>
					<% if @user == current_user %>
						<h2 class="mypage mt-3 fadein">mypage</h2>
					<% else %>
						<h2 class="mt-3 fadein"><%= @user.user_name %>'s room</h2>
					<% end %>
				</div>
				<div class="time-limit fadein" style="font-size: 15px;"><%= flash[:change] %></div>
				<%= render 'users/users/user_info', user: @user,reviews:@user.reviews %>
			</div>


			<div>
				<h3 class="title_posts_list mb-3 fadein"><%= @user.user_name %>'s posts list</h3>

				<%= render 'users/reviews/reviews_list', reviews:@reviews %>
				<%= paginate @reviews %>
			</div>
			<script type="text/javascript">
				$(function(){
				$(window).scroll(function (){
				$('.fadein').each(function(){
					var elemPos = $(this).offset().top;
					var scroll = $(window).scrollTop();
					var windowHeight = $(window).height();
					if (scroll > elemPos - windowHeight + 200){
						$(this).addClass('scrollin');
							}
						});
					});
				});
			</script>


		</div>
	</div>
</div>