<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12" style="margin-top: 30px;">
				<% if @user == current_user %>
					<h1 style="margin-bottom: 20px;">mypage</h1>
				<% end %>
				<%= flash[:change] %>
			</div>
		</div>

<!--部分テンプレートできそう users//show/index-->
		<div class="info-box_index col-xs-3">
			<%= image_tag @user.profile_image.url, fallback: "no_image.jpg" ,class: 'profile_img_index' %>
			<div class="name-info col-xs-9">
				<strong>
					<h3>
						<%= link_to user_path(@user.id), :style=>"color:#444;" do %>
							<%= @user.user_name %>
						<% end %>
					</h3><br>
					<%= @user.introduction %>
				</strong>
			</div>
			<% if @user != current_user %>
				<div style="margin-left: 200px;">Follow</div>
			<% end %>
<!--ここまで-->


			<% if @user == current_user %>
				<%= link_to edit_user_path(current_user.id) ,class: 'btn-circle-flat_user_show', :style=>"color:#fff;" do %>
				<i class="fas fa-wrench link-icon"></i>
				<% end %>
			<% end %>
	</div>

				<br>
				<span>投稿一覧を表示</span>
	</div>
</div>
