<% reviews.each do |review| %>
	<div class="review-box fadein">
		<div class="row">
			<div class="col">
				<%=  l review.created_at, format: :long %>
				<%= image_tag review.user.profile_image.url, format: 'jpg', fallback: "no_image.jpg"  ,class: 'profile_img' %>
				<strong>
					<%= link_to user_path(review.user.id),:style=>"color:#444;" do %>
						<%= review.user.user_name %>
					<% end %>
				</strong>
			</div>
		</div>

		<div class="row">
			<div class="images col-xs-4 mt-2">
				<% review.review_images.each do |review_image| %>
					<% if review_image.image.present? %>
			 			<%=  link_to review_image.image.url do %>
			 				<%= image_tag review_image.image.url, class: 'review_images_small' %>
				 		<% end %>
				 	<% end %>
				<% end %>
			</div>

			<div class="col-xs-8 pb-2" style="margin-left: 30px;">

				<div>
					<div id="review_<%= review.id %>" class="like_comment">
					<%= render 'users/reviews/like' , review: review %>
				</div>
					<i class="fas fa-utensils" style="margin-top:15px;"></i>
						<%= link_to review_path(review.id),:style=>"color:#444;", "data-turbolinks": false do %>
								<h4><%= review.restaurant_name.truncate(30) %></h4>
							<% end %>
					<i class="fas fa-map-marker-alt"></i><%= review.city.country.country %>・<%= review.city.city %>
				</div>
				<div id="star-rate-<%= review.id %>" ></div>
				<script>
				  $('#star-rate-<%= review.id %>').raty({
				   size: 35,
				   starOff:  "/images/star-off.png",
				   starOn: "/images/star-on.png",
				   starHalf: "/images/star-half.png",
				   readOnly: true,
				   half: true,
				   score: <%= review.rate %>
				 });
				</script>
				<div class="review_index" style="margin-top: 15px;"><%= review.review.truncate(20) %></div>
			</div>
		</div>
	</div>
<% end %>
