<div class="page">
	<div class="container body">
		<h2>edit your review</h2>

		<%= form_with model: @review,url:review_path(@review.id), method: :patch, local: true do |f| %>
			<table class="table">
				<tr>
					<th><%= f.label 'restaurant name' %></th>
					<td><%= f.text_field :restaurant_name %></td>
				</tr>
				<tr>
					<th><%= f.label 'country  city' %></th>
					<td><%= f.text_field :country %><%= f.text_field :city %></td>

				</tr>
				<tr>
					<th><%= f.label 'address' %></th>
					<td><%= f.text_field :address %></td>
				</tr>
				<tr>
					<th><%= f.label 'budget' %></th>
					<td><%= f.text_field :budget %><%= f.text_field :muximum_budget %></td>
				</tr>
				<tr>
					<th><%= f.label 'review' %></th>
					<td><%= f.text_area :review ,:size=>"50" %></td>
				</tr>
				<tr>
					<th><%= f.label 'images' %></th>
					<td>
						<div class="post__drop__box__container">
				            <div class="prev-content"></div>
				            <div class="label-content">
				              <label class="label-box" for="review_images_attributes_0_image" id="label-box--0">
				                <pre class="label-box__text-visible"></pre>
				              </label>
				            </div>
				            <div class="hidden-content">
							      <%= f.file_field :image, name: "review[review_images][][image]", class: "hidden-field", :style=> 'display: none;' %>
							      <input class="hidden-field" id="review_images_attributes_1_image" name="review[review_images][1][image]" type="file"></input>

							      <%= f.file_field :image, name: "review[review_images][][image]", class: "hidden-field", :style=> 'display: none;' %>
							      <input class="hidden-field" id="review_images_attributes_2_image" name="review[review_images][2][image]" type="file"></input>

							      <%= f.file_field :image, name: "review[review_images][][image]", class: "hidden-field", :style=> 'display: none;' %>
							      <input class="hidden-field" id="review_images_attributes_3_image" name="review[review_images][3][image]" type="file"></input>

							      <%= f.file_field :image, name: "review[review_images][][image]", class: "hidden-field", :style=> 'display: none;' %>
							      <input class="hidden-field" id="review_images_attributes_4_image" name="review[review_images][4][image]" type="file"></input>
			        		</div>

				          </div>
		        		</div>
					</td>
				<tr>
				<td><%= f.submit 'send', class: "btn btn-default" %></td>
				</tr>
			</table>
		<% end %>
</div>
</div>