<div class="page_edit">
	<div class="container">
		<h2 class="edit_title mt-3 mb-2">Edit your review</h2>
		<% if @review.errors.any? %>
	        <div id="error_explanation">
	            <h3><%= @review.errors.count %>error prohibited this obj from being saved:</h3>
	            <ul>
	                <% @review.errors.full_messages.each do |message| %>
	                <li><%= message %></li>
	                <% end %>
	            </ul>
	        </div>
	    <% end %>

		<%= form_with model: @review,url:review_path(@review.id), method: :patch, local: true do |f| %>
			<table class="table table_edit mt-2">
				<tr class="table_edit">
					<th class="table_edit">Restaurant name</th>
					<td class="table_edit"><%= f.text_field :restaurant_name, :placeholder => "店名" %></td>
				</tr>
				<tr class="table_edit">
					<th class="table_edit">
					<div class="form-group" id="star" style="width:300px;">
						<strong>Rate</strong>
						<%= f.hidden_field :rate, id: :review_star %>
					</div>
					</th class="table_edit">
					<script>
					  $('#star').raty({
					   size: 35,
					   starOff:  "/assets/star-off.png",
					   starOn: "/assets/star-on.png",
					   starHalf: "/assets/star-half.png",
					   scoreName: 'review[rate]',
					   half: true,
					 });
					</script>
				</tr>
				<tr class="table_edit">
					<th class="table_edit">Country,City</th>
					<td class="table_edit">
						<%= f.text_field :country, value: @review.city.country.country, class: 'country', id: :country, autocomplete: 'off' %>
						<%= f.text_field :city, value: @review.city.city, class: 'city',id: :city,  autocomplete: 'off' %>
						<script>
						  $( function() {
						    $( "#country" ).autocomplete({
						      autoFocus: true,
						      source: "/reviews/auto_complete.json",
						      minLength: 1,
						    });
						  });

						$( function() {
						    $( "#city" ).autocomplete({
							    autoFocus: true,
							    source: "/reviews/auto_complete_cities.json",
						      	minLength: 1
						    });
						});
						</script>
					</td>
				</tr>
				<tr class="table_edit">
					<th class="table_edit">Address</th>
					<td class="table_edit"><%= f.text_area :address,:size=>"30", :placeholder => "住所" %></td>
				</tr>
				<tr class="table_edit">
					<th class="table_edit">Budget</th>
					<td class="table_edit">
						<%= f.select :currency, ['$',' EUR ','￡', '￥','Kr','Fr','₩','R','₺','₡','₪','₹','ரூ','₫','฿','؋','₱' ], {include_blank: '通貨を選択してください'},class: 'sample' %>
						<%= f.text_field :budget,:placeholder => "予算(最低)15" %> 〜 <%= f.text_field :maximum_budget, :placeholder => "予算(上限額)30" %>
					</td>
				</tr>
				<tr class="table_edit">
					<th class="table_edit">Review</th>
					<td class="table_edit"><%= f.text_area :review ,:size=>"50x8",:placeholder => "口コミ"%></td>
				</tr>
				<tr class="table_edit">
					<th class="table_edit">Genre</th>
  					<td class="table_edit"><%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :genre_name, prompt: "ジャンルを選択してください --" %></td>
				</tr>
				<tr class="table_edit">
					<th class="table_edit">Images</th>
					<td class="table_edit">
						<div class="post__drop__box__container">
				            <div class="prev-content"></div>
				            <div class="label-content">
				              <label class="label-box" for="review_images_attributes_0_image" id="label-box--0">
				                <pre class="label-box__text-visible"></pre>
				              </label>
				            </div>

				            <div class="hidden-content">
				            	<%= f.fields_for :review_images do |image_form| %>
				            		<div>
					            		<% if image_form.object.image.present? %>
					            			<%= image_tag image_form.object.image.url, class: 'review_images_prev' %>
					            		<% end %>
					            		<%= image_form.file_field :image, class: 'hidden-field' %>
					            		<%= image_form.hidden_field :id, value: image_form.object.id %>
				            		</div>
				            	<% end %>
				            </div>
		        		</div>
					</td>
				</tr>
				<tr class="table_edit">
					<th></th>
					<th></th>
					<td class="table_edit"><%= f.submit 'send', class: "btn btn-md btn-outline-secondary post_btn mb-20" %></td>
				</tr>
			</table>
		<% end %>
	</div>
</div>