<div class="page">
	<div class="container body">
		<h2>Edit your review</h2>

		<%= form_with model: @review,url:review_path(@review.id), method: :patch, local: true do |f| %>
			<table class="table">
				<tr>
					<th><%= f.label 'restaurant name' %></th>
					<td><%= f.text_field :restaurant_name %></td>
				</tr>
				<tr>
					<th><%= f.label 'country  city' %></th>
					<td><%= f.text_field :country %><%= f.text_field :city %></td>

				</tr>
				<tr>
					<th><%= f.label 'address' %></th>
					<td><%= f.text_field :address %></td>
				</tr>
				<tr>
					<th><%= f.label 'budget' %></th>
					<td><%= f.text_field :budget %><%= f.text_field :maximum_budget %></td>
				</tr>
				<tr>
					<th><%= f.label 'review' %></th>
					<td><%= f.text_area :review ,:size=>"50" %></td>
				</tr>
				<tr>
					<th><%= f.label 'genre' %> </th>
  					<td><%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :genre_name, prompt: "-- 選択してください --" %></td>
				</tr>
				<tr>
					<th><%= f.label 'review_images' %></th>
					<td>
						<div class="post__drop__box__container">
				            <div class="prev-content"></div>
				            <div class="label-content">
				              <label class="label-box" for="review_images_attributes_0_image" id="label-box--0">
				                <pre class="label-box__text-visible"></pre>
				              </label>
				            </div>

				            <div class="hidden-content">
				            	<%= f.fields_for :review_images do |image_form| %>
				            		<div>
					            		<% if image_form.object.image.present? %>
					            			<%= image_tag image_form.object.image.url, class: 'review_images_prev' %>
					            		<% end %>
					            		<%= image_form.file_field :image, class: 'hidden-field' %>
					            		<%= image_form.hidden_field :id, value: image_form.object.id %>
				            		</div>
				            	<% end %>
				            </div>
		        		</div>
					</td>
				</tr>
				<td><%= f.submit 'send', class: "btn btn-default" %></td>
				</tr>
			</table>
		<% end %>
</div>
</div>