<div class="page">
	<div class="container" style="padding-top: 20px;">
		<div class="row main-box">
			<div class="col-md-5">
				<div class="review-main-visual"></div>
			</div>

			<div class="link-list col-md-7">
				<a class="btn-circle-flat"  id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: #fff;">distination</a>
				<%= link_to 'post', new_review_path,class: 'btn-circle-flat', :style=>"color:#fff;" %>
				<%= link_to 'find ppl', users_path,class: 'btn-circle-flat', :style=>"color:#fff;" %>
				<a class="btn-circle-flat"  id="to-lists" data-toggle="pill" href="#to-lists" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: #fff;">new posts</a>
			</div>
		</div>
	</div>

	<div class="container">
		<h2>new posts</h2>
		<% @reviews.each do |review| %>
		 <div class="review-box">
			<div id="review_<%= review.id %>">
				<%= render 'users/reviews/like' , review: review %>
			</div>
				<div>
					<i class="fas fa-utensils">
					<h4><%= link_to review_path(review.id),:style=>"color:#444;" do %><%= review.restaurant_name %><% end %></h4>
					</i>
					<%= review.country %>・<%= review.city %>
				</div>
				<div id="star-rate-<%= review.id %>" ></div>
				<script>
				  $('#star-rate-<%= review.id %>').raty({
				   size: 35,
				   starOff:  "/assets/star-off.png",
				   starOn: "/assets/star-on.png",
				   starHalf: "/assets/star-half.png",
				   readOnly: true,
				   half: true,
				   score: <%= review.rate %>
				 });
				</script>
			<div><%= review.review %></div>
		</div>
		<% end %>
	</div>
	<div><%= paginate @reviews , class: "pagination" %></div>

	<script>
      $(function(){
        // #to-listsで発火 sth
        $('a[href^="#to-lists"]').click(function() {
          // スクロールの速度
          var speed = 400; // ミリ秒
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top;
          $('body,html').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      });
    </script>

</div>

