<div class="post_page">
	<div class="container responsive">
		<div class="row main-box">
			<div class="col-md-5 fadein">
				<div id="container">
				  <div class="time-limit"><%= flash[:email] %></div>
				  <div id="theTarget">
					<div class="image1"></div>
				    <div class="image2"></div>
				    <div class="image4"></div>
				    <div class="image3"></div>
				  </div>
				</div>
			</div>

			<div class="link-list col-md-7 fadein">
				<button class="btn-circle-flat" data-toggle="modal" data-target=".bd-example-modal-lg" style="color: #fff;"><%= t 'reviews.index.destination' %></button>

				<%= link_to t('reviews.index.post'), new_review_path,class: 'btn-circle-flat post_button', :style=>"color:#fff;" %>
				<%= link_to t('reviews.index.find_people'), users_path,class: 'btn-circle-flat find_button', :style=>"color:#fff;" %>
				<a class="btn-circle-flat discover_button"  id="to-lists" data-toggle="pill" href="#to-lists" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: #fff;"><%= t 'reviews.index.discover' %></a>
			</div>
		</div>

		<div class=" row popullar fadein mt-5" style="display: block;">
			<h2><%= t 'reviews.index.search_popular_areas' %></h2>

			<div style="padding:30px;" class="multiple-items">

				<%= link_to reviews_path(continent_id: 1), method: :get, remote: true do %>
					<div class="popular_area_asia">
						<div class="popular_area-content">
							<h3 style="color:#fff;"><%= t 'reviews.index.asia' %></h3>
						</div>
					</div>
				<% end %>

				<%= link_to reviews_path(continent_id: 2), method: :get, remote: true do %>
					<div class="popular_area_america">
						<div class="popular_area-content">
							<strong><h3 style="color:#fff;"><%= t 'reviews.index.north_america' %></h3></strong>
						</div>
					</div>
				<% end %>

				<%= link_to reviews_path(continent_id: 3), method: :get, remote: true do %>
					<div class="popular_area_europe">
						<div class="popular_area-content">
							<strong><h3 style="color:#fff;"><%= t 'reviews.index.europe' %></h3></strong>
						</div>
					</div>
				<% end %>

				<%= link_to reviews_path(continent_id: 4), method: :get, remote: true do %>
					<div class="popular_area_oseania">
						<div class="popular_area-content">
							<strong><h3 style="color:#fff;"><%= t 'reviews.index.oceania' %></h3></strong>
						</div>
					</div>
				<% end %>

				<%= link_to reviews_path(continent_id: 5), method: :get, remote: true do %>
					<div class="popular_area_africa">
						<div class="popular_area-content">
							<strong><h3 style="color:#fff;"><%= t 'reviews.index.africa' %></h3></strong>
						</div>
					</div>
				<% end %>

				<%= link_to reviews_path(continent_id: 6), method: :get, remote: true do %>
					<div class="popular_area_south_america">
						<div class="popular_area-content">
							<strong><h3 style="color:#fff;"><%= t 'reviews.index.south_america' %></h3></strong>
						</div>
					</div>
				<% end %>

			</div>
		</div>

			<h2 class="title_new_posts fadein" ><%= t 'reviews.index.posts_list' %></h2>
			<div class="row review_list_index">
				<div id="review_index" class="col">
					<%= render 'users/reviews/reviews_list', reviews: @reviews %>
				</div>
			</div>
			<div class="row">
				<div style="margin: 0 auto;">
					<%= paginate @reviews , class: "pagination" %>
				</div>
			</div>

		<div class="row pop_users_mainbox" style="display: block;">
			<h2 class="col-lg-12 mt-8 mb-3"><%= t 'reviews.index.popular_users' %></h2>

				<div class= "pop_users">
					<% @rank.each do |user| %>
						<div class="fadein pop_user_box">
							<div class="col-xs-3">
								<%= image_tag user.profile_image.url ,class: 'popular_user_img mt-3' %>
							</div>
							<div class="col-xs-9">
								<h5 class="pop_user_name">
									<%= user.user_name %>
								</h5>
								<div class="pop_intro">
									<%= user.introduction %>
								</div>
								<div class="user_box_content">
									<span><%= t 'reviews.index.review' %> <%= user.reviews.count  %></span><br>
									<span><%= t 'reviews.index.followers' %>  <%= user.followers.count %></span>
								</div>
								<div class="link_to_user_show">
									<%= link_to user_path(user.id), :style=>"color:#333;" do %>
										<i class="fas fa-link"></i>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>

		<script>
	      $(function(){
	        // #to-listsで発火 sth
	        $('a[href^="#to-lists"]').click(function() {
	          // スクロールの速度
	          var speed = 400; // ミリ秒
	          var href= $(this).attr("href");
	          var target = $(href == "#" || href == "" ? 'html' : href);
	          var position = target.offset().top;
	          $('body,html').animate({scrollTop:position}, speed, 'swing');
	          return false;
	        });
	      });
	    </script>
	</div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding:10px;">
    	<span style="margin-left: 10px;"><%= t 'reviews.index.search_by_destination' %></span>
      	 <%= form_with  url:reviews_path, method: :get, local: true do |f| %>
       	 <%= f.text_field :country, id:"form", placeholder:"国名を入力してください", :size=>"40x12" %>
     	 <%= f.submit 'search', class: "btn btn-xs btn-outline-secondary mb-2" %>
	 	 <select id="result"></select>
	  <% end %>
     </div>
  </div>
</div>