<div class="page_new">
	<div class="container">
		<div class="row">
			<h2 class="title mt-2 fadein"><%= t 'reviews.new.post_review' %></h2>
			<%= form_with model: @review, url:reviews_path, method: :post, local: true do |f| %>
				<%= render 'layouts/error', model: f.object , class: "fadein" %>
				<table class="table table_new_all fadein" >
					<tr class="table_new">
						<th class="table_new"><%= t 'reviews.new.restaurant_name' %></th>
						<td class="table_new"><%= f.text_field :restaurant_name, :placeholder => t('reviews.new.restaurant_name_area') %></td>
					</tr>
					<tr class="table_new">
						<th class="table_new">
						<div class="form-group" id="star" style="width:300px;">
							<strong><%= t 'reviews.new.rate' %></strong>
							<%= f.hidden_field :rate, id: :review_star %>
						</div>
						</th>
						<script>
						  $('#star').raty({
						   size: 35,
						   starOff:  "/images/star-off.png",
						   starOn: "/images/star-on.png",
						   starHalf: "/images/star-half.png",
						   scoreName: 'review[rate]',
						   half: true,
						 });
						</script>
					</tr>

					<tr class="table_new">
						<th><%= t 'reviews.new.country_city' %></th>
						<td class="country_box">
							<%= f.text_field :country, placeholder: t('reviews.new.country_area'), class: 'country', id: :country, autocomplete: 'off' %>
							<%= f.text_field :city, placeholder: t('reviews.new.city_area'), class: 'city',id: :city, autocomplete: 'off' %>
							<script>
							  $( function() {
							    $( "#country" ).autocomplete({
							      autoFocus: true,
							      source: "/reviews/auto_complete.json",
							      minLength: 1,
							    });
							  });
							$( function() {
							    $( "#city" ).autocomplete({
								    autoFocus: true,
								    source: "/reviews/auto_complete_cities.json",
							      	minLength: 1
							    });
							});
							</script>
						</td>
					</tr>

					<tr class="table_new">
						<th class="table_new"><%= t 'reviews.new.address' %></th>
						<td class="table_new"><%= f.text_area :address,:size=>"30", :placeholder => t('reviews.new.address_area') %></td>
					</tr>

					<tr class="table_new">
						<th class="table_new"><%= t 'reviews.new.budget' %></th>
						<td class="table_new">
							<%= f.select :currency, ['$',' EUR ','￡', '￥','Kr','Fr','₩','R','₺','₡','₪','₹','ரூ','₫','฿','؋','₱' ], {include_blank: t('reviews.new.choose_currency')} %>
							<%= f.text_field :budget,:placeholder => t('reviews.new.min_budget'),class: "budget_box" %> 〜 <%= f.text_field :maximum_budget,:placeholder => t('reviews.new.max_budget'),class: "budget_box" %>
						</td>
					</tr>


					<tr class="table_new">
						<th class="table_new"><%= t 'reviews.new.review' %></th>
						<td class="table_new"><%= f.text_area :review ,:size=>"50x8",:placeholder => t('reviews.new.review_area'),class: 'review_area' %></td>
					</tr>
					<tr class="table_new">
						<th><%= t 'reviews.new.genre' %></th>
	  					<td><%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :genre_name, prompt: t('reviews.new.choose_genre') %></td>
					</tr>

					<tr class="table_new">
						<th><%= t 'reviews.new.images' %></th>
						<td class="table_new">
							<div class="post__drop__box__container">
					            <div class="prev-content"></div>
					            <div class="label-content">
					              <label class="label-box" for="review_images_attributes_0_image" id="label-box--0">
					                <pre class="label-box__text-visible"></pre>
					              </label>
					            </div>
					            <div class="hidden-content">
					            	<%= f.fields_for :review_images do |image_form| %>
					            		<div>
						            		<% if image_form.object.image.present? %>
						            			<%= image_tag image_form.object.image.url, class: 'review_images' %>
						            		<% end %>
						            		<%= image_form.file_field :image, class: 'hidden-field' %>
					            		</div>
					            	<% end %>
					            </div>
						</td>
					</tr>

					<tr class="table_new">
						<th></th>
						<th></th>
					<td class="table_new pb-2"><%= f.submit t('reviews.new.post'), class: "btn btn-outline-secondary post_btn mb-20" %></td>
					</tr>

				</table>
			<% end %>
		</div>
	</div>
</div>