<div class="page_new" style="height: 1500px;">
	<div class="container">
		<h2 class="title">post review</h2>

		<%= form_with model: @review, url:reviews_path(@review.id), method: :post, local: true do |f| %>
			<table class="table" >
				<tr>
					<th><%= f.label 'restaurant name' %></th>
					<td><%= f.text_field :restaurant_name, :placeholder => "店名" %></td>
				</tr>
				<tr>
					<th>
					<div class="form-group" id="star" style="width:300px;">
						<%= f.label :rate, style: "margin-right: 35px;" %>
						<%= f.hidden_field :rate, id: :review_star %>
					</div>
					</th>
					<script>
					  $('#star').raty({
					   size: 35,
					   starOff:  "/assets/star-off.png",
					   starOn: "/assets/star-on.png",
					   starHalf: "/assets/star-half.png",
					   scoreName: 'review[rate]',
					   half: true,
					 });
					</script>
				</tr>

				<tr>
					<th><%= f.label 'country' %>  <%= f.label 'city' %></th>
					<td><%= f.text_field :country,:size=>"20", :placeholder => "国名(例:France)" %>　<%= f.text_field :city, :placeholder => "都市名(例:Paris)" %></td>
				</tr>

				<tr>
					<th><%= f.label 'address' %></th>
					<td><%= f.text_area :address,:size=>"30", :placeholder => "住所" %></td>
				</tr>

				<tr>
					<th><%= f.label 'budget' %></th>
					<td><%= f.text_field :budget,:placeholder => "予算(最低)" %> 〜 <%= f.text_field :maximum_budget,:placeholder => "予算(上限額)" %></td>
				</tr>

				<tr>
					<th><%= f.label 'review' %></th>
					<td><%= f.text_area :review ,:size=>"50x8",:placeholder => "レビュー" %></td>
				</tr>
				<tr>
					<th><%= f.label 'genre' %> </th>
  					<td><%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :genre_name, prompt: "-- 選択してください --" %></td>
				</tr>

				<tr>
					<th><%= f.label 'images' %></th>
					<td>
						<div class="post__drop__box__container">
				            <div class="prev-content"></div>
				            <div class="label-content">
				              <label class="label-box" for="review_images_attributes_0_image" id="label-box--0">
				                <pre class="label-box__text-visible"></pre>
				              </label>
				            </div>
				            <div class="hidden-content">
				            	<%= f.fields_for :review_images do |image_form| %>
				            		<div>
					            		<% if image_form.object.image.present? %>
					            			<%= image_tag image_form.object.image.url, class: 'review_images' %>
					            		<% end %>
					            		<%= image_form.file_field :image, class: 'hidden-field' %>
					            		<%#= image_form.hidden_field :id, value: nil %>
					            		<%#= image_form.hidden_field :review_id, value: image_form.review_id %>
				            		</div>
				            	<% end %>
				            </div>
					</td>
				</tr>

				<tr>
					<th></th>
				<td><%= f.submit 'post', class: "btn btn-light" %></td>
				</tr>

			</table>
		<% end %>
	</div>
</div>

