<div class="page_new">
	<div class="container">
		<div class="row">
			<h2 class="title mt-2 fadein">Post review</h2>

			<% if @review.errors.any? %>
		        <div id="error_explanation">
		            <h3><%= @review.errors.count %>error prohibited this obj from being saved:</h3>
		            <ul>
		                <% @review.errors.full_messages.each do |message| %>
		                <li><%= message %></li>
		                <% end %>
		            </ul>
		        </div>
		    <% end %>

			<%= form_with model: @review, url:reviews_path(@review.id), method: :post, local: true do |f| %>
				<table class="table table_new_all fadein" >
					<tr class="table_new">
						<th class="table_new"><%= f.label 'restaurant name' %></th>
						<td class="table_new"><%= f.text_field :restaurant_name, :placeholder => "店名" %></td>
					</tr>
					<tr class="table_new">
						<th class="table_new">
						<div class="form-group" id="star" style="width:300px;">
							<strong>Rate</strong>
							<%= f.hidden_field :rate, id: :review_star %>
						</div>
						</th>
						<script>
						  $('#star').raty({
						   size: 35,
						   starOff:  "/images/star-off.png",
						   starOn: "/images/star-on.png",
						   starHalf: "/images/star-half.png",
						   scoreName: 'review[rate]',
						   half: true,
						 });
						</script>
					</tr>

					<tr class="table_new">
						<th>Country,City</th>
						<td class="country_box">
							<%= f.text_field :country, placeholder: "国名(例:France) 半角英", class: 'country', id: :country, autocomplete: 'off' %>
							<%= f.text_field :city, placeholder: "都市名(例:Paris) 半角英", class: 'city',id: :city, autocomplete: 'off' %>
							<script>
							  $( function() {
							    $( "#country" ).autocomplete({
							      autoFocus: true,
							      source: "/reviews/auto_complete.json",
							      minLength: 1,
							    });
							  });
							$( function() {
							    $( "#city" ).autocomplete({
								    autoFocus: true,
								    source: "/reviews/auto_complete_cities.json",
							      	minLength: 1
							    });
							});
							</script>
						</td>
					</tr>

					<tr class="table_new">
						<th class="table_new">Address</th>
						<td class="table_new"><%= f.text_area :address,:size=>"30", :placeholder => "住所" %></td>
					</tr>

					<tr class="table_new">
						<th class="table_new">Budget</th>
						<td class="table_new">
							<%= f.select :currency, ['$',' EUR ','￡', '￥','Kr','Fr','₩','R','₺','₡','₪','₹','ரூ','₫','฿','؋','₱' ], {include_blank: '通貨を選択してください'} %>
							<%= f.text_field :budget,:placeholder => "予算(最低額) 15",class: "budget_box" %> 〜 <%= f.text_field :maximum_budget,:placeholder => "予算(上限額) 30",class: "budget_box" %>
						</td>
					</tr>

					<tr class="table_new">
						<th class="table_new">Buisiness hours</th>
						<td>
							<%= f.time_select :open,prompt:true, ignore_data:true %> 〜 <%= f.time_select :close,prompt:true, ignore_data:true %>
						</td>
					</tr>

					<tr class="table_new">
						<th class="table_new">Review</th>
						<td class="table_new"><%= f.text_area :review ,:size=>"50x8",:placeholder => "口コミ",class: 'review_area' %></td>
					</tr>
					<tr class="table_new">
						<th><%= f.label 'genre' %> </th>
	  					<td><%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :genre_name, prompt: "ジャンルを選択してください --" %></td>
					</tr>

					<tr class="table_new">
						<th><%= f.label 'Images' %></th>
						<td class="table_new">
							<div class="post__drop__box__container">
					            <div class="prev-content"></div>
					            <div class="label-content">
					              <label class="label-box" for="review_images_attributes_0_image" id="label-box--0">
					                <pre class="label-box__text-visible"></pre>
					              </label>
					            </div>
					            <div class="hidden-content">
					            	<%= f.fields_for :review_images do |image_form| %>
					            		<div>
						            		<% if image_form.object.image.present? %>
						            			<%= image_tag image_form.object.image.url, class: 'review_images' %>
						            		<% end %>
						            		<%= image_form.file_field :image, class: 'hidden-field' %>
					            		</div>
					            	<% end %>
					            </div>
						</td>
					</tr>

					<tr class="table_new">
						<th></th>
						<th></th>
					<td class="table_new pb-2"><%= f.submit 'post', class: "btn btn-outline-secondary post_btn mb-20" %></td>
					</tr>

				</table>
			<% end %>
		</div>
	</div>
</div>