<div class="page" style="height: 1000px;">
	<h1>post review</h1>

	<%= form_with model: @review,url:reviews_path(@review.id), method: :post, local: true do |f| %>
		<table class="table">
			<tr>
				<th><%= f.label 'restaurant name' %></th>
				<td><%= f.text_field :restaurant_name %></td>
			</tr>
			<tr>
				<div class="form-group" id="star">
					<%= f.label :rate %>
					<%= f.hidden_field :rate, id: :review_star %>
				</div>
				<script>
				  $('#star').raty({
				   size: 10,
				   starOff:  "/assets/star-off.png",
				   starOn: "/assets/star-on.png",
				   starHalf: "/assets/star-half.png",
				   scoreName: 'review[rate]',
				   half: true,
				 });
				</script>
			</tr>

			<tr>
				<th><%= f.label 'country  city' %></th>
				<td><%= f.text_field :country %><%= f.text_field :city %></td>

			</tr>

			<tr>
				<th><%= f.label 'address' %></th>
				<td><%= f.text_field :address %></td>
			</tr>

			<tr>
				<th><%= f.label 'budget' %></th>
				<td><%= f.text_field :budget %>〜<%= f.text_field :muximum_budget %></td>
			</tr>

			<tr>
				<th><%= f.label 'review' %></th>
				<td><%= f.text_area :review ,:size=>"50" %></td>
			</tr>

			<tr>
				<th><%= f.label 'images' %></th>
				<td>
					<div class="post__drop__box__container">
			            <div class="prev-content"></div>
			            <div class="label-content">
			              <label class="abel-box" for="item_images_attributes_0_image" id="label-box--0">
			                <pre class="label-box__text-visible"></pre>
			              </label>
			            </div>
			            <div class="hidden-content">
			                <%= f.fields_for :review_images do |i| %>
			                  <%= i.file_field :image , class: "hidden-field" %>
		                    <% end %>
			            </div>
			          </div>
	        		</div><%#= f.attachment_field :review_images_images, multiple: true %><!--multiple: trueで複数選択可能にする-->
				</td>
			</tr>

			<tr>
				<th></th>
			<td><%= f.submit 'post', class: "btn btn-default" %></td>
			</tr>

		</table>
	<% end %>
</div>

