<div class="page_show">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-30">

				<div class="review-info fadein">
					<div class="time-limit"><%= flash[:update] %></div>
					<div class="time-limit"><%= flash[:create] %></div>
						<div class="d-flex justify-content-center">
							<% @review.review_images.each do |review_image| %>
								<% if review_image.image.present? %>
						     		<%=  link_to review_image.image.url,:rel => "lightbox[sample-group]" do %>
						     		<%= image_tag review_image.image.to_s().sub(ENV['S3_UPLOAD_BUCKET_URL'], ENV['S3_RESIZE_BUCKET_URL']) + "-thumbnail.", class: 'review_images' %>
						     		<%#= image_tag review_image.image.url, class: 'review_images' %>
						     		<% end %>
						     	<% end %>
					 		<% end %>
					 	</div>


						<div class="mt-2">投稿日時  <%=  l @review.created_at, format: :long %></div>
						<div class="review_show mt-2 ">
							<%= image_tag @review.user.profile_image.url, format: 'jpg', fallback: "no_image.jpg"  ,class: 'profile_img'  %>
							<%= link_to user_path(@review.user.id), :style=>"color:#444;" do %>
								 	<%= @review.user.user_name %>
							<% end %>  さんの口コミ
						</div>

						<h3 class="restaurant_name_show"><i class="fas fa-utensils"></i>　<%= @review.restaurant_name %></h3>


						<div class="details">
							<table class="table table-borderless" style="width:auto;">
								<tr>
									<th><div id="star-rate-<%= @review.id %>" ></div></th>
								</tr>
								<script>
								  $('#star-rate-<%= @review.id %>').raty({
								   size: 35,
								   starOff:  "/images/star-off.png",
								   starOn: "/images/star-on.png",
								   starHalf: "/images/star-half.png",
								   readOnly: true,
								   half: true,
								   score: <%= @review.rate %>
								 });
								</script>
								<tr>
									<th>ジャンル</th>
									<td><%= @review.genre.genre_name %></td>
								</tr>
								<tr>
									<th>エリア</th>
									<td><%= @review.city.country.country %>・<%= @review.city.city %></td>
								</tr>
								<tr>
									<th>予算</th>
									<td><%= @review.currency.html_safe %><%= @review.budget %> 〜 <%= @review.currency %><%= @review.maximum_budget %></td>
								</tr>
								<tr>
									<th>営業時間</th>
									<td><%= @review.open %> 〜 <%= @review.close %></td>
								</tr>
							</table>

							<div class="review">
								<%= @review.review %>
							</div>

							<div id="review_<%= @review.id %>" class="count_like_comment">
								<%= render 'users/reviews/like' , review: @review %>
							</div>
							<%= link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do %>
								<i class="fab fa-twitter">  Twitterでシェアする</i>
							<% end %>
						</div>

						<div class="address">
							<strong><i class="fas fa-map-marker-alt ml-3"></i></strong>
							<span><%= @review.address %></span>

							<script type="text/javascript">
							  function initMap() {
							    var test ={lat: <%= @review.latitude %>, lng: <%= @review.longitude %>};
							    var map = new google.maps.Map(document.getElementById('map'), {
							              zoom: 15,
							              center: test
							              });
							    var transitLayer = new google.maps.TransitLayer();
							    transitLayer.setMap(map);

							    var contentString = '住所：<%= @review.address %>';
							    var infowindow = new google.maps.InfoWindow({
							      content: contentString
							    });

							    var marker = new google.maps.Marker({
							                  position:test,
							                  map: map,
							                  title: contentString
							                 });

							     marker.addListener('click', function() {
							       infowindow.open(map, marker);
							     });
							  }
							</script>

							<script async defer
				              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
							</script>
							<div id="map" style="margin: 30px 20px;"></div>
						</div>

						<div>
			            	<%if @review.user == current_user%>
								<%= link_to 'delete',review_path(@review),method: :delete, local: true, class: 'btn-delete',"data-confirm" => "Are you sure?"%>
								<%= link_to edit_review_path(@review.id) ,class: 'btn-circle-flat_user_show icon_to_edit', :style=>"color:#fff;" do %>
									<i class="fas fa-wrench"></i>
								<% end %>
							<% end %>
						</div>
					</div>

					<div id="table_comment">
						<%= render 'users/review_comments/comments_area', review:@review %>
					</div>

					<div class="comment_place mb-5 ">

						<% if @review_comment.errors.any? %>
					        <div id="error_explanation">
					            <h3><%= @review_comment.errors.count %>error prohibited this obj from being saved:</h3>
					            <ul>
					                <% @review_comment.errors.full_messages.each do |message| %>
					                <li><%= message %></li>
					                <% end %>
					            </ul>
					        </div>
					    <% end %>

						<%= form_with model: @review_comment ,url:review_review_comments_path(@review.id), method: :post do |f| %>
							<h6 class="mini-title">コメントを投稿する</h6>
							<%= f.text_area :review_comment, id: "comment_body", :size=>"50" %>
							<%= f.submit "comment" %>
						<% end %>
					</div>

			</div>
		</div>
	</div>
</div>