<div class="">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 edit_form">
				<h2>ユーザー情報編集ページ</h2>

				<%= form_with model: @user,url:admins_user_path(@user.id), method: :patch, local: true do |f| %>

					<table class="table">
						<tr>
							<%= f.file_field :profile_image ,id: :profile_image, placeholder: "select" %>
							<% if @user.profile_image.present? %>
							  <%= image_tag @user.profile_image.url,class: 'profile_img-edit', id: :img_prev %>
							<% else %>
							  <%= image_tag "no_image.jpg",class: 'profile_img-edit', id: :img_prev %>
							<% end %>
						</tr>

						<script type="text/javascript">
						  $(function() {
						    function readURL(input) {
						        if (input.files && input.files[0]) {
							        var reader = new FileReader();
							        reader.onload = function (e) {
							    		$('#img_prev').attr('src', e.target.result);
							        }
							        reader.readAsDataURL(input.files[0]);
						        }
						    }
						    $("#profile_image").change(function(){
						        readURL(this);
						    });
						  });
						</script>

						<tr>
							<th><%= f.label 'user name' %></th>
							<td><%= f.text_field :user_name ,:size=>"21"%></td>
						</tr>
						<tr>
							<th><%= f.label 'introduction' %></th>
							<td><%= f.text_area :introduction ,:size=>"40"%></td>
						</tr>
						<tr>
							<th>Private Information</th>
						</tr>
						<tr>
							<th><%= f.label 'email' %></th>
							<td><%= f.text_field :email,:size=>"21" %></td>
						</tr>
						<tr>
						    <th class="list_name">会員ステータス</th>
							    <td>
							    	<label><%= f.radio_button :is_deleted, :false %> 有効 </label>
									<label><%= f.radio_button :is_deleted, :true %> 無効</label>
							    </td>
						 </tr>
						<tr>
							<th></th>
							<td></td>
						<td><%= f.submit 'update', class: "btn btn-light" %></td>
						</tr>
					</table>

				<% end %>

			</div>
		</div>
	</div>
</div>