<div style="height: auto;">
	<div class="container">

		<div class="row">
			<div class="col-xs-12" style="padding-bottom:150px;" >
				<h2 style="margin: 110px 0 50px 0;">ユーザー詳細情報</h2>

				<table class="table" style="text-align: center;">
					<thead>
						<tr>
							<th></th>
							<th>会員ID</th>
							<th>　ステータス</th>
							<th>　ユーザーネーム</th>
							<th>　メールアドレス</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td><%= image_tag @user.profile_image.url, fallback: "no_image.jpg" ,class: 'profile_admin_index' %></td>
								<td><%= @user.id%></td>
								<td>
									<%if @user.is_deleted == false %>
										<span>有効</span>
									<% else %>
										<span>無効</span>
									<% end %>
								</td>
								<td><%= @user.user_name %></td>
								<td><%= @user.email %></td>
							</tr>
							<tr>
								<th></th><th></th>
								<th>投稿数</th>
								<th>followers</th>
								<th>followings</th>
								<th></th>
							</tr>
							<tr>
								<td></td><td></td>
								<td><%= @reviews.count %></td>
								<td><%= @user.followers.count %></td>
								<td><%= @user.followings.count %></td>
								<td><h5><%= link_to 'ユーザー情報を編集する',edit_admins_user_path(@user.id) %></h5></td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>

		<div style="padding-bottom: 200px;">
			<h3><%= @user.user_name %>'s posts list</h3>
			<% @reviews.each do |review| %>
				<div class="review-box fadein" style="height: auto;">
					<div class="row">
						<div class="col-xs-12">
							<%=  l review.created_at, format: :long %>
							<%= image_tag review.user.profile_image.url, format: 'jpg', fallback: "no_image.jpg"  ,class: 'profile_img' %>
							<strong>
								<%= link_to user_path(review.user.id),:style=>"color:#444;" do %>
									<%= review.user.user_name %>
								<% end %>
							</strong>
						</div>
					</div>
					<div class="row">
						<div class="images col-xs-4 mt-2">
							<% review.review_images.each do |review_image| %>
								<% if review_image.image.present? %>
						 			<%=  link_to review_image.image.url do %>
						 				<%= image_tag review_image.image.url, class: 'review_images_small' %>
							 		<% end %>
							 	<% end %>
							<% end %>
						</div>
						<div class="col-xs-8 pb-2" style="margin-left: 30px;">
							<i class="fas fa-utensils" style="margin-top:15px;"></i>
							<%= link_to admins_review_path(review.id),:style=>"color:#444;", "data-turbolinks": false do %>
								<h4><%= review.restaurant_name.truncate(30) %></h4>
							<% end %>
							<i class="fas fa-map-marker-alt"></i><%= review.city.country.country %>・<%= review.city.city %>
							<div id="star-rate-<%= review.id %>" ></div>
							<script>
								$('#star-rate-<%= review.id %>').raty({
									size: 35,
									starOff:  "/assets/star-off.png",
									starOn: "/assets/star-on.png",
									starHalf: "/assets/star-half.png",
									readOnly: true,
									half: true,
									score: <%= review.rate %>
								});
							</script>
							<div class="review_index" style="margin-top: 15px;"><%= review.review.truncate(20) %></div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

	</div>
</div>