<div class="row">
<table class="table table-borderless">
  <thead style="width:100%;">
    <tr>
      <th class="col-xs-4">
        <%= user.reviews.count %>
      </th>
      <th class="col-xs-4">
        <%= link_to relationship_follower_path(user.id), :style=>"color:#444;" do %>
          <%= user.followers.count %>
        <% end %>
      </th>
      <th class="col-xs-4">
        <%= link_to relationship_following_path(user.id), :style=>"color:#444;" do %>
          <%= user.followings.count %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <div class="introduction ml-2"><%= user.introduction %></div>
    </tr>
    <tr>
      <td><%= t 'users.index.posts' %></td>
      <td><%= t 'users.index.followers' %></td>
      <td><%= t 'users.index.followings' %></td>
    </tr>
 </tbody>
</table>
</div>

<% unless current_user == user %>
  <% if current_user.following?(user) %>
    <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete } ,remote:true) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Unfollow', class: 'btn btn-sm btn-secondary btn-unfollow' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.build, remote:true) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Follow', class: 'btn btn-sm  btn-follow'  %>
    <% end %>
  <% end %>
<% end %>